.form-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #296580;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  color: #296580;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.form-date {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 15px;
  margin-right: 2px;
}

.fecha-label{
  width: 100%;
  margin-bottom: 10px;
}

.form-date div {
  width: 33%;
  margin-right: 22px;
}

.tiempo-salida {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.tiempo-salida label {
  text-align: center;
  width: 100%;
}

.time-input {
  width: 80px !important;
}

.time-input input {
  width: 100% !important;
  text-align: center;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.time-input small {
  display: block;
  text-align: center;
  color: #666;
  margin-top: 4px;
  font-size: 1em;
}

.gap-2 {
  gap: 0.5rem !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.horas-disponibles {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-block: 5px;
  padding-left: 10px;
  border: 1px solid #ccc;
  color: #fff;
  border-radius: 8px;
  background-color: #082933;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.horas-disponibles-value {
  font-size: 2.5em;
  font-weight: bold;
  display: block;
  padding: 0%;
}

.horas-disponibles-text {
  font-size: 1em;
  display: block;
  padding: 0%;
}

textarea.form-control {
  resize: vertical;
}

.radio-group {
  display: flex;
  & label {
    margin-right: 20px;
  }
} 

.warning {
  color: red;
  font-size: 0.8em;
}

.btn-primary {
  background-color: #296580;
  border-color: #296580;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  scale: 1.05;
  background-color: #082933;
}

.invalido {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
  display: block;
}

button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.radio-group input[type="radio"] {
  margin-right: 5px;
}

.radio-group label {
  margin-right: 20px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  color: #296580 !important;
}

.modal-body p{
  color: #000 !important;
  opacity: 1 !important;
  animation: none !important;
  transition: none !important;
}