
  
<div class="menu-lateral">
    <div class="logo">
      <img src="favicon.ico" alt="Logo" class="logo-img">
    </div>
    <ul>
      <li class="menu">Solicitar
        <div class="submenu">
          <a routerLink="permiso-personal">Permiso Personal</a>
          <a routerLink="permiso-oficial">Permiso Oficial</a>
        </div>
      </li>
      <li class="menu">Ver
        <div class="submenu">
          <a routerLink="mis-solicitudes">Mis Solicitudes</a>
        </div>
      </li>
      <li *ngIf="userRole === 2" class="menu">Aprobar
        <div class="submenu">
          <a routerLink="solicitudes">Como Jefe Inmediato</a>
        </div>
      </li>
      <li *ngIf="userRole === 3" class="menu">Aprobar
        <div class="submenu">
          <a routerLink="solicitudes">Como Jefe Inmediato</a>
          <a routerLink="responder-solicitudes-jefe-rrhh">Como Jefe RRHH</a>
        </div>
      </li>
      <li *ngIf="userRole === 4" class="menu">Aprobar
        <div class="submenu">
          <a routerLink="responder-solicitudes-agente-seguridad">Como Agente Seguridad</a>
        </div>
      </li>
      <li *ngIf="userRole === 5" class="menu">Administrar
        <div class="submenu">
          <a routerLink="administracion-sistema-rrhh">Usuarios/Permisos</a>
        </div>
      </li>
    </ul>
    <div>
      <button class="btn button" (click)="logout()">Cerrar Sesión</button>
    </div>
  </div>
<div class="contenido">
  <router-outlet></router-outlet>
</div>
<footer>
  <p>© 2025 Todos los derechos reservados Secretaria de Derechos Humanos en Honduras.</p>
</footer>
