<div class="container mt-4">
   <h1 class="mb-4">Aprobar Solicitudes Como Agente de Seguridad</h1>
   
   <div class="table-responsive">
     <table class="table table-striped table-hover">
       <thead class="table-dark">
         <tr>
           <th>Fecha Solicitud</th>
           <th>Tipo Solicitud</th>
           <th>Empleado</th>
           <th>Dependencia</th>
           <th>Estado Solicitud</th>
           <th>Acciones</th>
         </tr>
       </thead>
       <tbody>
        <tr *ngIf="solicitudes.length === 0">
          <td colspan="6" class="text-center">No hay solicitudes pendientes para que usted las apruebe</td>
        </tr>
         <tr *ngFor="let solicitud of solicitudes">
           <td>{{solicitud.fec_solicitud | date:'dd/MM/yyyy'}}</td>
           <td>{{solicitud.nom_tipo_solicitud}}</td>
           <td>{{solicitud.pri_nombre}} {{solicitud.pri_apellido}}</td>
           <td>{{solicitud.nom_dependencia}}</td>
           <td>
             <span [class]="'badge bg-success'">{{solicitud.nom_estado}}</span>
           </td>
           <td>
             <button class="btn botonAcciones btn-sm" (click)="openModal(solicitud)">
               Ver Solicitud
             </button>
           </td>
         </tr>
       </tbody>
     </table>
   </div>
 </div>
 

  <!-- Modal Template -->
  <ng-template #modalContent let-modal>
   <div class="modal-header">
     <h4 class="modal-title">{{modalTitle}}</h4>
     <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
   </div>
   <div class="modal-body">
     <div class="container">
       <div class="form-group">
         <label class="form-label">Nombre del Empleado:</label>
         <input type="text" class="form-control" [value]="solicitudSeleccionada?.pri_nombre + ' ' +solicitudSeleccionada?.seg_nombre+ ' ' +solicitudSeleccionada?.pri_apellido+ ' ' +solicitudSeleccionada?.seg_apellido" readonly>
       </div>
       
       <div class="form-group">
         <label class="form-label">Dependencia:</label>
         <input type="text" class="form-control" [value]="solicitudSeleccionada?.nom_dependencia" readonly>
       </div>
       
       <div class="form-group">
         <label class="form-label">Cargo:</label>
         <input type="text" class="form-control" [value]="solicitudSeleccionada?.nom_cargo" readonly>
       </div>
       
       <div class="form-group">
         <label class="form-label">Fecha de Solicitud:</label>
         <input type="text" class="form-control" [value]="solicitudSeleccionada?.fec_solicitud | date:'dd/MM/yyyy'" readonly>
       </div>
       
       <div class="form-group" *ngIf="solicitudSeleccionada?.nom_tipo_solicitud !== 'PERMISO OFICIAL'">
         <label class="form-label">Horas Solicitadas:</label>
         <input type="text" class="form-control" [value]="solicitudSeleccionada?.hor_solicitadas" readonly>
       </div>
       
       <div class="form-group">
         <label class="form-label">Motivo de Salida:</label>
         <textarea class="form-control" rows="2" [value]="solicitudSeleccionada?.motivo" readonly></textarea>
       </div>
       <div class="container mt-4">
        <div class="row">
          <!-- Hora Salida -->
          <div class="col-md-6">
            <label class="form-label">Hora de Salida</label>
            <div class="input-group">
              <input type="time" 
                     class="form-control" 
                     [(ngModel)]="solicitudSeleccionada.hor_salida"
                     [disabled]="solicitudSeleccionada.horaSalidaBloqueada">
            </div>
          </div>
          
          <!-- Hora Retorno -->
          <div class="col-md-6">
            <label class="form-label">Hora de Retorno</label>
            <div class="input-group">
              <input type="time" 
                     class="form-control" 
                     [(ngModel)]="solicitudSeleccionada.hor_retorno"
                     [disabled]="solicitudSeleccionada.horaRetornoBloqueada"
                     (change)="validarHoraRetorno()"
                     [class.is-invalid]="horaInvalida">
            </div>
            <div class="invalid-feedback" *ngIf="horaInvalida">
              {{mensajeError}}
            </div>
          </div>
      </div>
    </div>
   </div>
   <div class="modal-footer">
    <!-- Botón Registrar Hora Salida -->
    <button type="button" 
            class="btn btn-primary" 
            [disabled]="solicitudSeleccionada.horaSalidaBloqueada"
            (click)="enviarHoraSalida()">
      REGISTRAR HORA SALIDA
    </button>
  
    <!-- Botón Enviar a RRHH -->
    <button type="button" 
        class="btn btn-primary"
        [disabled]="solicitudSeleccionada.horaRetornoBloqueada || horaInvalida"
        (click)="enviarHoraRetorno()">
        ENVIAR ESTE PERMISO A RRHH
    </button>
  </div>
 </div>
 </ng-template>