h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #296580;
}
  
.table {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .table .table-encabezado,
  .table thead tr,
  .table-hover thead tr {
    background-color: #296580 !important;
  }
  
  .table thead th,
  .table .table-encabezado th {
    color: white !important;
    font-weight: 500 !important;
    background:#040505 !important;
  }
  
  .botonAcciones{
    background:#040505;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .badge {
    padding: 8px 12px;
    border-radius: 4px;
  }
  
  .table-responsive {
    border-radius: 8px;
    overflow: hidden;
    max-height: 800px;  /* Altura para mostrar ~5 filas */
    overflow-y: auto;
  }
  
  .table-responsive2 {
    border-radius: 8px;
    overflow: hidden;
    max-height: 180px;  /* Altura para mostrar ~2 filas */
    overflow-y: auto;
  }
  .table thead {
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: center;
  }
  
  .table tbody {
    height: 100%;
    text-align: center;
  }
  
  .table tbody tr {
    height: 40px; /* Altura aproximada para cada fila */
  }
  
  .table-dark {
    background-color: #296580 !important;
  }
  
  .table-dark th {
    background-color: #296580 !important;
    color: white !important;
  }

.modal-header {
  text-align: center;
  color: #296580;
  justify-content: center !important;
  text-align: center !important;
  background: linear-gradient(270deg, #296580, #1a2727);
  color: white;
}

.modal-body input.form-control,
.modal-body textarea.form-control {
  background-color: #f8f9fa;
}

.modal-body input[readonly],
.modal-body textarea[readonly] {
  background-color: #e9ecef;
}

.modal-footer {
  justify-content: space-between;
}

.modal-body .form-group {
  margin-bottom: 1rem;
}

.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
  display: block;
}

.form-label{
  color: #296580;
}

.btn-primary {
  background-color: #296580;
  border-color: #296580;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  scale: 1.05;
  background-color: #296580;
}

.btn-danger{
  background-color: #dc3545;
  border-color: #dc3545;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-danger:hover {
  scale: 1.05;
}


.emergencia{
  background-color: #686c6e;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
}