<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarAdmin">
          <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarAdmin">
          <ul class="navbar-nav mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link" routerLink="solicitudes-pendientes">
                      SOLICITUDES PENDIENTES
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="reporte-empleados">
                      VER LOS PERMISOS DE EMPLEADOS
                  </a>
              </li>
              <!-- Gestionar Empleados -->
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                      GESTIONAR EMPLEADOS
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" routerLink="agregar-empleado">Agregar</a></li>
                      <li><a class="dropdown-item" routerLink="perfil-empleado">Ver</a></li>
                  </ul>
              </li>
          </ul>
      </div>
  </div>
</nav>